
.portfolio-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 60px 10%;
  flex-wrap: wrap;
}

/* 3D Swiper carousel container */
.carousel-container {
  width: 320px;
  height: 450px;
  margin-left: 140px;
}
.carousel-wrapper{
  display: flex;
  gap:500px;
  margin-top: 8%;
}
/* Swiper styles */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.card-content {
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  position: relative;
}

.skill-title {
  margin-top: 35px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

.skill-image {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}

/* Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  width: 20px;
  height: 20px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  bottom: 10px;
}

.swiper-button-next {
  margin-top: 260px;
  right: 10px;
}

.swiper-button-prev {
  margin-top: 260px;
  left: 10px;
}

/* Right side text section */
.text-section {
  max-width: 400px;
}

.text-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #008edb;
}

.text-section p {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  text-align: justify;
}

/* Hire Me Button */
.hire-button {
  background-color: #0072b1;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.hire-button:hover {
  background-color: #005f91;
}

