.certificates-section {
  padding: 50px;
  text-align: center;
  
  color: white;
}

.certificates-title {
  font-size: 2rem;
  margin-bottom: 30px;
  color:#007bff
}

.certificates-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.certificate-scene {
  position: relative;
  width: 30%;
  height: 450px;
  perspective: 1000px;
  /* margin-left: 20%; */
}


.certificate-inside {
  position: relative;
  z-index: 1;
  background: #393939;
  height: 90%;
  border-radius: 34px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(211, 211, 211, 0.3);
}

.certificate-image {
  width: 85%;
  height: 80%;
  border-radius: 8px;
}

.certificate-name {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: bold;
  color: #00fff2;
}


.certificate-door {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, hsl(236, 96%, 10%), #00217b);
  border-radius: 34px;
  transform-origin: left center;
  transform-style: preserve-3d;
  transition: transform 1s ease;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.door-label {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.certificate-scene:hover .certificate-door {
  transform: rotateY(-120deg);
}
.arrow-icon {
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease;

}

.arrow-icon:hover {
  transform: scale(1.2);
  color: #007bff;
}

.certificates-arrows{
  gap: 150px;
  display: flex;
  margin-left: 35%;
  padding-top: 50px;

}
.cert-counter {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}

.power-icon {
  width: 20px;
  height: 20px;
  border: 2px solid white; /* color of U-shape */
  border-top: none; /* open at the top */
  border-radius: 50%;
  position: relative;
  margin: 8px auto 0; /* center it */
}

.power-icon::before {
  content: "";
  position: absolute;
  top: -7px; /* vertical line above the U-shape */
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 15px;
  background-color: white;
}

