 /* .skills-section {
  width: 100%;
  padding: 40px;
  
}

.category-container {
  margin-bottom: 40px;
}

.category-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  color:rgb(255, 255, 255);

}

.skills-marquee {
  overflow: hidden;
  
  position: relative;
  background:rgb(0, 0, 0);
  border: 2px solid rgb(48, 48, 48);
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 0 4px 12px rgba(113, 255, 250, 0.988); 
  border-radius: 12px;
}

.marquee-content {
  display: flex;
  align-items: center;
  animation: scroll 14s linear infinite;
}

.skills-marquee:hover .marquee-content {
  animation-play-state: paused;
}

.skill-icon-wrapper {
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-icon-wrapper:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
} */

.skills-section {
  padding: 20px;
  margin-top: 10%;
}
.skills-section h1{
  padding-bottom: 30px;
  margin-left: 45%;
  color:rgb(0, 131, 196);
}
.category-container {
  margin-bottom: 40px;
}

.category-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.skills-marquee {
   overflow: hidden;
  
  position: relative;
  background:rgb(0, 0, 0);
  border: 2px solid rgb(48, 48, 48);
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 0 4px 12px rgba(113, 255, 250, 0.988); 
  border-radius: 12px;
}

.marquee-content {
  display: flex;
  animation: slide-marquee 20s linear infinite;
  gap: 30px;
}

@keyframes slide-marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.skill-icon-wrapper {
  flex: 0 0 auto;
  padding: 10px;
  transition: transform 0.3s ease;
}

.skill-icon-wrapper:hover {
  transform: scale(1.3);
}

.skill-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.skills-marquee:hover .marquee-content {
  animation-play-state: paused;
}