
.text-outline {
  font-size: 3rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px white;
  position: relative;
  overflow: hidden;
}

.text-outline::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  color: white;
  -webkit-text-stroke: 0px;
  overflow: hidden;
  border-right: 2px solid white;
  white-space: nowrap;
  animation: outlineFill 4s linear forwards;
}

@keyframes outlineFill {
  0% { width: 0; }
  100% { width: 100%; }
}



@keyframes waveMove {
  0% { background-position-x: 0; }
  100% { background-position-x: 200px; }
}


.welcome-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  padding-top: 30px;
}
.text-outline {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  position: relative;
  animation: outlineMove 2s infinite linear;
}

@keyframes outlineMove {
  0% {
    text-shadow: 2px 2px 8px rgb(182, 255, 254), -2px -2px 8px rgb(174, 255, 254);
  }
  25% {
    text-shadow: -2px 2px 8px #ffc5f1, 2px -2px 8px rgb(255, 171, 240);
  }
  50% {
    text-shadow: -2px -2px 8px rgb(222, 192, 255), 2px 2px 8px rgb(217, 164, 255);
  }
  75% {
    text-shadow: 2px -2px 8px rgb(255, 217, 188), -2px 2px 8px rgb(255, 216, 176);
  }
  100% {
    text-shadow: 2px 2px 8px rgb(136, 136, 136), -2px -2px 8px rgb(124, 124, 124);
  }
}

.text-outline::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  text-shadow: 2px 2px 4px black;
  opacity: 0.7;
}
.typing-neon {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  
  text-shadow:
    0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px rgb(64, 64, 64),
    0 0 40px rgb(0, 0, 0),
    0 0 80px rgb(16, 16, 16);
  
}

/* @keyframes blinkCursor {
  0%, 50% { border-color: #0ff; }
  51%, 100% { border-color: transparent; }
} */


.right {
  display: flex;
  justify-content: center;
  align-items: center;
   flex-shrink: 0;
   margin-right: 18%;
}

.right img {
  width: 350px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgb(114, 114, 114);
  position: relative;
}
.left-text {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 20px; /* space between THIS IS, name, and role */
  min-width: 300px;
  margin-left:14%;
}
.welcome-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; /* change from column to row */
  gap: 50px; /* optional: space between text and image */
  font-family: Arial, sans-serif;
  padding-top: 30px;
  margin-top: 5%;
  margin-bottom: 15%;
}
